@font-face {
    font-family: 'HelveticaNeueLT';
    src: url("fonts/HelveticaNeueLTStd-BlkCn.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT 57';
    src: url("fonts/HelveticaNeueLTStd-Cn.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background: #000;
    
    div.main-view {
        width: 100vw;
        height: 100vh;
    }

    .keyboard .button {
        width: 130px;
        font-family: 'Helvetica Neue LT 57';
    }
}