.home-search {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    height: 100%;
    width: 100%;
    color: #FFF;

    .panel {
        border: 0;
        background-color: #000;
    }

    .left-pane {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10%;

        @include respond-to(sm) {
            width: 15%;
        }

        @include respond-to(md) {
            width: 15%;
        }

        @include respond-to(lg) {
            width: 15%;
        }

        img {
            width: 90%;
        }
    }

    .right-pane {
        width: 10%;
        justify-content: space-around;
        display: flex;

        @include respond-to(sm) {
            width: 15%;

            h1 {
                font-size: 25px;
            }
        }

        @include respond-to(md) {
            width: 15%;

            h1 {
                font-size: 25px;
            }
        }

        @include respond-to(lg) {
            width: 15%;

            h1 {
                font-size: 30px;
            }
        }
    }

    .search-body {
        width: 80%;

        @include respond-to(sm) {
            width: 70%;
        }

        @include respond-to(md) {
            width: 70%;
        }

        .navi {
            display: flex;
            flex-direction: row;
            // font-size: 300%;
            
            div {
                display: flex;
                
                &:nth-child(1), &:nth-child(3){
                    width: 10%;
                    justify-content: space-around;

                    @include respond-to(sm) {
                        width: 15%;

                        h1 {
                            font-size: 25px;
                        }
                    }

                    @include respond-to(md) {
                        width: 15%;

                        h1 {
                            font-size: 25px;
                        }
                    }

                    @include respond-to(lg) {
                        width: 15%;

                        h1 {
                            font-size: 30px;
                        }
                    }
                }

                &:nth-child(2){
                    width: 80%;
                    justify-content: center;
                    align-items: center;

                    @include respond-to(sm) {
                        width: 70%;
                    }

                    @include respond-to(md) {
                        width: 70%;
                    }

                    @include respond-to(lg) {
                        width: 70%;
                    }

                    h1 {
                        font-family: 'HelveticaNeueLT';
                        font-style: italic;
                        color: #ffd401;

                        @include respond-to(sm) {
                            font-size: 30px;
                        }

                        @include respond-to(md) {
                            font-size: 30px;
                        }

                        @include respond-to(lg) {
                            font-size: 30px;
                        }
                    }
                }
            }
        }

        .search-box {
            display: flex;
            height: 10%;
            max-height: 60px;

            @include respond-to(sm) {
                height: 5%;
            }
            
            @include respond-to(md) {
                height: 5%;
            }

            div {
                &:nth-child(1), &:nth-child(3) {
                    width: 5%;

                    @include respond-to(sm) {
                        width: 10%;
                    }

                    @include respond-to(md) {
                        width: 10%;
                    }
                }

                &:nth-child(2) {
                    display: flex;
                    width: 90%;
                    height: 100%;

                    @include respond-to(sm) {
                        width: 80%;
                    }

                    @include respond-to(md) {
                        width: 80%;
                    }

                    input[type="text"], button {
                        height: 100%;
                        min-height: 30px;
                        width: 90%;
                        border-radius: 25px 0 0 25px;
                        font-family: 'Helvetica Neue LT 57';
                        font-style: italic;

                        &:active, &:focus {
                            border: 0;
                            box-shadow: 0;
                        }
                    }

                    .input-group-btn {
                        width: 10%;
                        min-width: 50px;
                        .btn {
                            border-left-width:0;left:-2px;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                            width: 100%;
                            border-radius: 0 25px 25px 0;
                        }
                    }
                    
                    .form-control:focus {
                        box-shadow:none;
                        -webkit-box-shadow:none; 
                        border-color:#cccccc; 
                    }
                    
                }
            }
        }

        .result-box {
            display: flex;
            min-height: 200px;
            position: relative;

            .border {
                width: 5%;
            }

            @include respond-to(sm) {
                min-height: 100px;

                .border {
                    width: 12.5%;
                }
            }

            @include respond-to(md) {
                min-height: 100px;

                .border {
                    width: 12.5%;
                }
            }

            @include respond-to(lg) {
                min-height: 160px;

                .border {
                    width: 10%;
                }
            }

            .scroll-down, .scroll-up {
                position: absolute;
                left: 50%;
                font-size: 30px;
                color: #b5b5b5;
                background-color: #dadada;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover, &:active, &:focus {
                    color: #8a8a8a;
                    background-color: #cacaca;
                }

                @include respond-to(sm) {
                    font-size: 20px;
                    height: 30px;
                    width: 30px;
                }

                @include respond-to(md) {
                    font-size: 20px;
                    height: 30px;
                    width: 30px;
                }

                @include respond-to(lg) {
                    font-size: 20px;
                    height: 30px;
                    width: 30px;
                }
            }

            .scroll-down {
                bottom: 3px;
            }

            .scroll-up {
                top: 3px;
            }

            .result-holder {
                display: flex;
                flex-direction: column;
                width: 90%;
                background: transparent;
                max-height: 200px;
                overflow: auto;
                margin-top: 5px;

                @include respond-to(sm) {
                    width: 75%;
                    max-height:  100px;
                }

                @include respond-to(md) {
                    width: 75%;
                    max-height:  100px;
                }

                @include respond-to(lg) {
                    width: 80%;
                    max-height: 160px;
                }

                .data {
                    background: #FFF;
                    display: flex;
                    min-height: 35px;
                    width: 100%;
                    color: #000;
                    padding-left: 5px;
                    border-bottom: 1px solid #e4e4e4;
                    cursor: pointer;
                    font-family: 'Helvetica Neue LT 57';
                    font-size: 17px;

                    @include respond-to(sm) {
                        min-height: 20px;
                        font-size: 11px;
                    }

                    @include respond-to(md) {
                        min-height: 20px;
                        font-size: 11px;
                    }

                    &:hover {
                        background-color: #e8e8e8;
                    }
                }
            }
        }

        .keyboard-div {
            display: flex;
            justify-content: center;
            padding-top: 10px;

            on-screen-keyboard {
                width: 100%;

                table {
                    width: 100%;
                }    
            }
            
        }

        .command-div {
            display: flex;
            justify-content: center;
            padding-top: 40px;
            
            @include respond-to(lg) {
                padding-top: 25px;
            }

            button {
                height: 70px;
                width: 20%;
                min-width: 100px;
                font-size: xx-large;
                font-family: 'HelveticaNeueLT';
                border: 0;
                background: #b01e23;
                color: #ffd401;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                @include respond-to(sm) {
                    height: 55px;
                    width: 30%;
                    font-size: 25px;
                }

                @include respond-to(md) {
                    height: 55px;
                    width: 30%;
                    font-size: 25px;
                }

                @include respond-to(lg) {
                    height: 60px;
                    width: 25%;
                    font-size: 30px;
                }
            }
        }
    }

}